Repository pieces-app/opensource, pull requests merged in 2024-02, with the labels that each got.

#29 name-updated-
  README.md
Labels: enhancement, readme updates

#32 Created Contributor's Guide for Main Open Source
  CONTRIBUTING.md
Labels: documentation, maintainer task

#31 docs: Update README.md with new Discord Channel information
  README.md
Labels: readme updates

#36 Update participation-guide.md based on feedback from the GSoC program team
  gsoc/participation-guide.md
Labels: documentation, enhancement

#37 Update link to deskbuddy project
  README.md
Labels: documentation, project: deskbuddy

#44 Update README.md
  README.md
Labels: readme updates
